################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaskManager.Business/bin
/TaskManager.Business/obj
/TaskManagerApi/bin
/TaskManagerApi/obj
